<div class="container">
  <div class="row">
    <div class="col-12">
      <article class="card big">
        <header>
          <a href="/?city={{city}}"><i class="material-icons">
              chevron_left
            </i></a>
          <div class="headerTitle">
            <i class="material-icons">
              perm_identity
            </i>
            <h2>Perfil</h2>
          </div>
        </header>
        <img src={{user.picture}}></img>
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-4">
              <div class="profile-header-container">
                <div class="profile-header-img">
                  <i class="material-icons position-fixed" id="pencil">
                    create
                  </i>
                  <img class="img-circle position-relative" src="{{user.image}}"
                    alt="Foto de susuario de {{user.username}}" />
                  <div class="rank-label-container  position-relative">
                    <span class="label label-default rank-label  position-relative">{{user.username}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-8 d-flex justify-content-center">
              <div class="row">
                <div class="col-12">
                  <form action="/profile" method="post" enctype="multipart/form-data">
                    <input type="file" name="phototoupload"><br>
                    <input type="submit" class="btn btn-success" value="Enviar"><br>
                  </form>
                </div>
                <div class="col-12">
                  {{#if user.location}}
                  <h4 class="text-center">Te encuentras en {{user.location}}. ¡Disfruta de tu visita!</h4>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <div class="col-lg-3 col-md-4 col-6">
            <p>Sube tus fotos:</p>
            <form action="/profile/newpicture" method="post" enctype="multipart/form-data">
              <input type="text" name="description"><br>
              <input type="file" name="imagesupload"><br>
              <input type="submit" class="btn btn-success" value="Enviar"><br>
            </form>
          </div>
          <hr>
        </div>
        <div class="row text-center text-lg-left">
          {{#each user.pictures}}
          <div class="col-lg-3 col-md-4 col-6">
            <a href="{{image}}" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="{{image}}" alt="{{description}}">
              <p>{{description}}</p>
            </a>
          </div>
          {{/each}}
        </div>
      </article>

    </div>
  </div>

</div>
</div>