<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="mainCityTitle">{{city}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <article class="card">
        <header>
          <i class="material-icons">
            bookmark_border
          </i>
          <h2>Noticias</h2>
        </header>
        <div class="content">
          {{#if news}}
          {{#each news}}
          <a href="{{url}}">
            <div class="newsContainer">
              <img src="{{urlToImage}}" alt="{{title}}" />
              <p>{{title}}</p>
              {{!-- <p>{{description}}</p> --}}
            </div>
          </a>
          {{/each}}
          {{/if}}
          {{#unless news}}
          <p class="error">Las noticias se encuentran bloqueadas en esta búsqueda</p>
          {{/unless}}
        </div>
      </article>
    </div>
    <div class="col-lg-4 col-sm-12">
      <article class="card">
        <header>
          <i class="material-icons">
            list_alt
          </i>
          <h2>Info</h2>
        </header>
        <div class="content">
          {{#if info}}
          <div class="basicInfoContainer">
            <p><span class="infoTitle">Capital: </span>{{info.capital}}</p>
            <p><span class="infoTitle">Moneda: </span>
              {{#each info.currencies}}
              {{name}}.
              {{/each}}
            </p>
            <p><span class="infoTitle">Lengua: </span>
              {{#each info.languages}}
              {{name}}.
              {{/each}}
            </p>
            <p><span class="infoTitle">Prefijo: </span>+{{info.callingCodes}}</p>
            <p><span class="infoTitle">Zona Horaria:</span>
              {{#each info.timezones}}
              {{this}}.
              {{/each}}
            </p>
          </div>
          {{/if}}
          {{#unless info}}
          <p class="error">No tenemos datos para esa búsqueda</p>
          {{/unless}}
        </div>
      </article>
    </div>


    <div class="col-lg-4 col-sm-12">
      <article class="card">
        <header>
          <i class="material-icons">
            wb_sunny
          </i>
          <h2>Tiempo</h2>
        </header>
        <div class="content">
          {{#if weather}}
          <div class="weatherContainer">
            <div>
              <img src="http://openweathermap.org/img/wn/{{weather.list.[0].weather.[0].icon}}@2x.png"
                alt="{{weather.list.[0].weather.[0].description}}" />
              <p class="infoTitle weather">{{weather.list.[0].weather.[0].description}}</p>
            </div>
          </div>
          {{/if}}
          {{#unless weather}}
          <p class="error">No tenemos datos para esa búsqueda</p>
          {{/unless}}
        </div>
      </article>
    </div>
    {{!-- 
    {{#if weather}}
        <p>{{weather.list.[0].dt_txt}} <br>
          amanece: {{hours.sunrise}}<br>
          anochece: {{hours.sunset}}
        </p>
        {{#each weather.list.[0].weather}}
        <b>{{main}}</b>
        {{/each}}
        <p>
          temperatura minima: {{weather.list.[0].main.temp_min}}º
          tempratatura maxima: {{weather.list.[0].main.temp_max}}º
          humedad: {{weather.list.[0].main.humidity}} <br>
          precipitaciones: {{weather.list.[0].clouds.all}}% <br>
          viento: {{weather.list.[0].wind.speed}} | {{weather.list.[0].wind.deg}}º
        </p>
        <hr>
        {{#each weather.list}}
        {{dt_txt}}<br>
        {{#each weather}}
        <b>{{main}}</b><br>
        {{/each}}
        {{main.humidity}}<br>
        {{/each}}
      </div>
    </div>
    {{/if}} --}}
    <div class="col-lg-4 col-sm-12">
      <h2>RESTAURANTES</h2>
      <hr>
      <div class="restaurants">
        {{#each restaurant}}
        <h5>{{name}}</h5>
        <p>Precio: {{price_level}}</p>
        <p>Rating: {{rating}}</p>
        <p>Direccion: {{vicinity}}</p>
        <hr>
        {{/each}}
      </div>
      <div class="col-lg-4 col-sm-12">
        <h2>PUNTOS DE INTERÉS</h2>
        <hr>
        <div class="points-of-interest">

        </div>
      </div>

      <div class="col-4">
        <h2>EVENTOS</h2>
        <hr>
        <div class="events">
          {{#each event}}
          <h5>{{name}}</h5>
          <p>{{type}}</p>
          <a href="{{url}}">COMPRAR</a>
          <img src="{{images.[0].url}}"></img>
          <hr>
          {{/each}}

        </div>


      </div>
    </div>