
            {{#each news}}
            <a href="{{url}}">
              <div class="newsContainer">
                <img src="{{urlToImage}}" alt="{{title}}" />
                <p>{{title}}</p>
                {{!-- <p>{{description}}</p> --}}
              </div>
            </a>
            {{/each}}
            {{/if}}
            {{#unless news}}
            <p class="error">Las noticias se encuentran bloqueadas en esta búsqueda</p>
            {{/unless}}
          </div>
        </article>
      </div>
      {{!-- EVENTOS --}}
      <div class="col-lg-4 col-md-6 col-12">
        <article class="card">
          <header>
            <div class="headerTitle">
              <i class="material-icons">
                calendar_today
              </i>
              <h2>Eventos</h2>
            </div>
            <a href="details/events/{{city}}">Detalles</a>
          </header>
          <div class="content">
            {{#if event}}
            {{#each event}}
            <a href="{{url}}">
              <div class="eventsContainer">
                <img src="{{images.[0].url}}" alt="{{name}}" />
                <p class="infoTitle">{{name}}</p>
              </div>
            </a>
            {{/each}}
            {{/if}}
            {{#unless event}}
            <p class="error">Los eventos no se han podido cargar en esta búsqueda</p>
            {{/unless}}
          </div>
        </article>
      </div>
      {{!-- RESTAURANTES --}}
      <div class="col-lg-4 col-md-6 col-12">
        <article class="card">
          <header>
            <div class="headerTitle">
              <i class="material-icons">
                restaurant
              </i>
              <h2>Restaurantes</h2>
            </div>
            <a href="details/restaurants/?city={{city}}&country={{country}}">Detalles</a>
          </header>
          <div class="content">
            {{#if restaurant}}
            {{#each restaurant}}
            <a href="{{url}}">
              <div class="restaurantsContainer">
                <img
                  src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photos.[0].photo_reference}}&key=AIzaSyB19aJO6EXXEfg-yAN9LGeapPIIBBAHVUQ"
                  alt="{{name}}" />
                {{!-- <img src="{{images.[0].url}}" alt="{{name}}" /> --}}
                <div class="restaurantDetails">
                  <p class="infoTitle">{{name}}</p>
                  {{!-- <p>Precio: {{price_level}}</p> --}}
                  <div class="ratings">
                    <img src="https://image.flaticon.com/icons/svg/616/616489.svg">
                    <p>{{rating}}</p>
                  </div>
                  <p>{{vicinity}}</p>
                </div>
              </div>
            </a>
            {{/each}}
            {{/if}}
            {{#unless restaurant}}
            <p class="error">Los restaurantes no se han podido cargar en esta búsqueda</p>
            {{/unless}}
          </div>
        </article>
      </div>

      {{!-- PUNTOS DE INTERES --}}
      <div class="col-lg-4 col-md-6 col-12">
        <article class="card">
          <header>
            <div class="headerTitle">
              <i class="material-icons">
                local_see
              </i>
              <h2>P. de Interés</h2>
            </div>
            <a href="details/popular-place/?city={{city}}&country={{country}}">Detalles</a>
          </header>
          <div class="content">
            {{#if points}}
            {{#each points}}
            <a href="{{url}}">
              <div class="restaurantsContainer">
                <img
                  src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photos.[0].photo_reference}}&key=AIzaSyB19aJO6EXXEfg-yAN9LGeapPIIBBAHVUQ"
                  alt="{{name}}" />
                <div class="restaurantDetails">
                  <p class="infoTitle">{{name}}</p>
                  {{!-- <p>Precio: {{price_level}}</p> --}}
                  <div class="ratings">
                    <img src="https://image.flaticon.com/icons/svg/616/616489.svg">
                    <p>{{rating}}</p>
                  </div>
                  <p>{{vicinity}}</p>
                </div>
              </div>
            </a>
            {{/each}}
            {{/if}}
            {{#unless points}}
            <p class="error">Los puntos de interés no se han podido cargar en esta búsqueda</p>
            {{/unless}}
          </div>
        </article>
      </div>
    </div>

    <script src="/javascripts/index.js"></script>