<div class="container">
  <div class="row">
    <div class="col-3">
      <h2>NOTICIAS</h2>
      <hr>
      {{#each news}}
      <div class="newsContainer">
        <img class="mb-3" src="{{urlToImage}}" alt="{{title}}" />
        <p><b>{{title}}</b></p>
        <p>{{description}}</p>
      </div>
      <hr>
      {{/each}}
    </div>
    <div class="col-3">
      <h2>INFO</h2>
      <hr>
      <div class="basicInfoContainer">
        <p>Capital: {{info.capital}}</p>
        <p>Monedas:</p>
        {{#each info.currencies}}
        {{name}}
        {{/each}}
        <p>Lenguajes:</p>
        {{#each info.languages}}
        {{name}}
        {{/each}}
        <p>Prefijo: {{info.numericCode}}</p>
        <p>Zona Horaria:</p>
        {{#each info.timezones}}
        {{this}}
        {{/each}}
      </div>
    </div>
    <div class="col-3">
      <h2>TIEMPO</h2>
      <hr>
      <div class="infoWeather">
        <h5>{{weather.city.name}}, {{weather.city.country}}</h5>
        <p>{{weather.list.[0].dt_txt}} <br>
          amanece: {{weather.city.sunrise}}<br>
          anochece: {{weather.city.sunset}}
        </p>
        {{#each weather.list.[0].weather}}
        <b>{{main}}</b>
        {{/each}}
        <p>
          temperatura minima: {{weather.list.[0].main.temp_min}}ยบ
          tempratatura maxima: {{weather.list.[0].main.temp_max}}ยบ
          humedad: {{weather.list.[0].main.humidity}} <br>
          precipitaciones: {{weather.list.[0].clouds.all}}% <br>
          viento: {{weather.list.[0].wind.speed}} | {{weather.list.[0].wind.deg}}ยบ
        </p>
        <hr>
        {{#each weather.list}}
        {{dt_txt}}<br>
        {{#each weather}}
        <b>{{main}}</b><br>
        {{/each}}
        {{main.humidity}}<br>
        {{/each}}


      </div>
    </div>
    <div class="col-3">
      <h2>RESTAURANTES</h2>
      <hr>
      <div class="restaurants">
        {{#each restaurant}}
        <p>{{name}}</p>
        <p>Precio: {{price_level}}</p>
        <p>Rating: {{rating}}</p>
        <p>Direccion: {{vicinity}}</p>
        {{/each}}

      </div>
    </div>
  </div>