<div class="container">
  <div class="row">
    <div class="col-4">
      <article class="card">
        <header>
          <i class="material-icons">
            bookmark_border
          </i>
          <h2>Noticias</h2>
        </header>
        <div class="content">
          {{#each news}}
          <a href="{{url}}">
            <div class="newsContainer">
              <img src="{{urlToImage}}" alt="{{title}}" />
              <p>{{title}}</p>
              {{!-- <p>{{description}}</p> --}}
            </div>
          </a>
          {{/each}}
        </div>
      </article>
    </div>
    <div class="col-4">
      <article class="card">
        <header>
          <i class="material-icons">
            list_alt
          </i>
          <h2>Info</h2>
        </header>
        <div class="content">
          <div class="basicInfoContainer">
            <p><span class="infoTitle">Capital: </span>{{info.capital}}</p>
            <p><span class="infoTitle">Moneda: </span>
              {{#each info.currencies}}
              {{name}}.
              {{/each}}
            </p>
            <p><span class="infoTitle">Lengua: </span>
              {{#each info.languages}}
              {{name}}.
              {{/each}}
            </p>
            <p><span class="infoTitle">Prefijo: </span>+{{info.numericCode}}</p>
            <p><span class="infoTitle">Zona Horaria:</span>
              {{#each info.timezones}}
              {{this}}.
              {{/each}}
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="col-4">
      <h2>TIEMPO</h2>
      <hr>
      <div class="infoWeather">

      </div>
    </div>
    <div class="col-4">
      <h2>RESTAURANTES</h2>
      <hr>
      <div class="restaurants">

      </div>
    </div>
  </div>