<div class="container">
  <div class="row">
    <div class="col-4">
      <article class="card">
        <header>
          <i class="material-icons">
            bookmark_border
          </i>
          <h2>Noticias</h2>
        </header>
        <div class="content">
          {{#if news}}
          {{#each news}}
          <a href="{{url}}">
            <div class="newsContainer">
              <img src="{{urlToImage}}" alt="{{title}}" />
              <p>{{title}}</p>
              {{!-- <p>{{description}}</p> --}}
            </div>
          </a>
          {{/each}}
          {{/if}}
          {{#unless news}}
          <h1>sdafsdf</h1>
          {{/unless}}
        </div>
      </article>
    </div>
    <div class="col-4">
      <article class="card">
        <header>
          <i class="material-icons">
            list_alt
          </i>
          <h2>Info</h2>
        </header>
        <div class="content">
          <div class="basicInfoContainer">
            <p><span class="infoTitle">Capital: </span>{{info.capital}}</p>
            <p><span class="infoTitle">Moneda: </span>
              {{#each info.currencies}}
              {{name}}.
              {{/each}}
            </p>
            <p><span class="infoTitle">Lengua: </span>
              {{#each info.languages}}
              {{name}}.
              {{/each}}
            </p>
            <p><span class="infoTitle">Prefijo: </span>+{{info.numericCode}}</p>
            <p><span class="infoTitle">Zona Horaria:</span>
              {{#each info.timezones}}
              {{this}}.
              {{/each}}
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="col-4">
      <h2>TIEMPO</h2>
      <hr>
      <div class="infoWeather">
        <h5>{{weather.city.name}}, {{weather.city.country}}</h5>
        <p>{{weather.list.[0].dt_txt}} <br>
          amanece: {{weather.city.sunrise}}<br>
          anochece: {{weather.city.sunset}}
        </p>
        {{#each weather.list.[0].weather}}
        <b>{{main}}</b>
        {{/each}}
        <p>
          temperatura minima: {{weather.list.[0].main.temp_min}}ยบ
          tempratatura maxima: {{weather.list.[0].main.temp_max}}ยบ
          humedad: {{weather.list.[0].main.humidity}} <br>
          precipitaciones: {{weather.list.[0].clouds.all}}% <br>
          viento: {{weather.list.[0].wind.speed}} | {{weather.list.[0].wind.deg}}ยบ
        </p>
        <hr>
        {{#each weather.list}}
        {{dt_txt}}<br>
        {{#each weather}}
        <b>{{main}}</b><br>
        {{/each}}
        {{main.humidity}}<br>
        {{/each}}


      </div>
    </div>
    <div class="col-4">
      <h2>RESTAURANTES</h2>
      <hr>
      <div class="restaurants">

      </div>
    </div>
  </div>