<div class="container">
  <div class="row">
    <div class="col-12">
      <article class="card big">
        <header>
          <a href="/?city={{city}}"><i class="material-icons">
              chevron_left
            </i></a>
          <div class="headerTitle">
            <i class="material-icons">
              calendar_today
            </i>
            <h2>Eventos</h2>
          </div>
        </header>
        <div class="content">
          {{#if event}}
          {{#each event}}
          <a href="{{url}}">
            <div class="eventsContainer">
              <img src="{{images.[1].url}}" alt="{{name}}" />
              <p class="infoTitle">{{name}}</p>
            </div>
          </a>
          {{/each}}
          {{/if}}
          {{#unless event}}
          <p class="error">Los eventos no se han popdido cargar en esta búsqueda</p>
          {{/unless}}
        </div>
      </article>
    </div>
  </div>
</div>