<div class="container">
  <div class="row">
    <div class="col-12">
      <article class="card big">
        <header>
          <a href="/?city={{city}}"><i class="material-icons">
              chevron_left
            </i></a>
          <div class="headerTitle">
            <i class="material-icons">
              restaurant
            </i>
            <h2>Restaurantes</h2>
          </div>
        </header>
        <div class="content">
          <!--The div element for the map -->
          <div id="map"></div>
          {{#if restaurant}}
          {{#each restaurant}}
          <a href="{{url}}">
<<<<<<< HEAD
            <div class="restaurantsContainer" data-latitude="{{geometry.location.lat}}"
              data-longitude="{{geometry.location.lng}}" data-name="{{name}}" data-address="{{vicinity}}">
=======
            <div class="restaurantsContainer" id="select" lat="34.23123131">
>>>>>>> 5dfc51b80bb18244c0a679666ceed159fbae63d6
              {{!-- <img
                src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photos.[0].photo_reference}}&key=AIzaSyD44K0JK21Zr3D_vx2B1VKPoxwei7vzwfM"
                alt="{{name}}" /> --}}
              <p class="infoTitle" id="{{name}}">{{name}}</p>
              <div class="ratings">
                <img src="https://image.flaticon.com/icons/svg/616/616489.svg">
                <p>{{rating}}</p>
              </div>
              <p>{{vicinity}}</p>
            </div>
          </a>
          {{/each}}
          {{/if}}
          {{#unless restaurant}}
          <p class="error">No tenemos datos para esa búsqueda</p>
          {{/unless}}
        </div>
      </article>
    </div>
  </div>
</div>