<div class="container">
  <div class="row">
    <div class="col-12">
      <article class="card big">

        <header>
          <a href="/?city={{city}}"><i class="material-icons">
              chevron_left
            </i></a>
          <div class="headerTitle">
            <i class="material-icons">
              restaurant
            </i>
            <h2>Restaurantes</h2>
          </div>
        </header>

        <div class="content">
          {{#if restaurant}}
          {{#each restaurant}}
          <a href="{{url}}">
            <div class="restaurantsContainer">
              <h3>{{name}}</h3>
              <img
                src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{photos.[0].photo_reference}}&key=AIzaSyD44K0JK21Zr3D_vx2B1VKPoxwei7vzwfM"
                alt="{{name}}" />
              <div class="restaurantDetails">
                <p class="infoTitle">{{name}}</p>
                <div class="ratings">
                  <img src="https://image.flaticon.com/icons/svg/616/616489.svg">
                  <p>{{rating}}</p>
                </div>
                <p>{{vicinity}}</p>
              </div>
            </div>
            <div>

            </div>
          </a>
          {{/each}}
          {{/if}}
          {{#unless restaurant}}
          <p class="error">No tenemos datos para esa búsqueda</p>
          {{/unless}}
        </div>
      </article>
    </div>
  </div>
</div>